@using ContosoUniversity.Enums;
@model IEnumerable<ContosoUniversity.Models.Department>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrator.FullName)
        </td>
        <td>
            <a href="/departments/@item.DepartmentID?action=@ActionType.Edit.ToString()"
               hx-trigger="click"
               hx-get="/departments/@item.DepartmentID?action=@ActionType.Edit.ToString()"
               hx-target="#dialog"
               hx-swap="innerHTML">
                Edit
            </a>
            |
            <a href="/departments/@item.DepartmentID?action=@ActionType.View.ToString()"
               hx-trigger="click"
               hx-get="/departments/@item.DepartmentID?action=@ActionType.View.ToString()"
               hx-target="#dialog"
               hx-swap="innerHTML">
                Details
            </a>
            |
            <a href="/departments/@item.DepartmentID?action=@ActionType.Delete.ToString()"
               hx-trigger="click"
               hx-get="/departments/@item.DepartmentID?action=@ActionType.Delete.ToString()"
               hx-target="#dialog"
               hx-swap="innerHTML">
                Delete
            </a>
        </td>
    </tr>
}