@model IEnumerable<ContosoUniversity.Models.Course>

@if (Model.Any())
{
    <h3>Courses Taught by: @ViewData["InstructorName"]</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model)
        {
            string selectedRow = "";
            if (item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    <a href="?courseID=@item.CourseID"
                       hx-trigger="click"
                       hx-get="?courseID=@item.CourseID"
                       hx-target="#instructor-enrollments"
                       hx-swap="innerHTML">
                        Select
                    </a>
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
    <div id="instructor-enrollments"></div>
}
