@model PaginatedList<ContosoUniversity.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" 
                   value="Search" 
                   class="btn btn-default"
                   hx-trigger="click"
                   hx-post="index"
                   hx-target="#root"
                   hx-swap="innerHTML"
                   hx-push-url="index" /> 
            |
            <a href="index"
               hx-trigger="click"
               hx-get="index"
               hx-target="#root"
               hx-swap="innerHTML"
               hx-push-url="index">
                Back to Full List
            </a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="index?sortOrder=@ViewData["NameSortParm"]&currentFilter=@ViewData["CurrentFilter"]"
                   hx-trigger="click"
                   hx-get="index?sortOrder=@ViewData["NameSortParm"]&currentFilter=@ViewData["CurrentFilter"]"
                   hx-target="#root"
                   hx-swap="innerHTML"
                   hx-push-url="index?sortOrder=@ViewData["NameSortParm"]&currentFilter=@ViewData["CurrentFilter"]">
                    Last Name
                </a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a href="index?sortOrder=@ViewData["DateSortParm"]&currentFilter=@ViewData["CurrentFilter"]"
                   hx-trigger="click"
                   hx-get="index?sortOrder=@ViewData["DateSortParm"]&currentFilter=@ViewData["CurrentFilter"]"
                   hx-target="#root"
                   hx-swap="innerHTML"
                   hx-push-url="index?sortOrder=@ViewData["DateSortParm"]&currentFilter=@ViewData["CurrentFilter"]">
                    Enrollment Date
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a class="btn btn-default @prevDisabled"
   href="index?sortOrder=@ViewData["CurrentSort"]&currentFilter=@ViewData["CurrentFilter"]&pageNumber=@(Model.PageIndex - 1)"
   hx-trigger="click"
   hx-get="index?sortOrder=@ViewData["CurrentSort"]&currentFilter=@ViewData["CurrentFilter"]&pageNumber=@(Model.PageIndex - 1)"
   hx-target="#root"
   hx-swap="innerHTML"
   hx-push-url="index?sortOrder=@ViewData["CurrentSort"]&currentFilter=@ViewData["CurrentFilter"]&pageNumber=@(Model.PageIndex - 1)">
    Previous
</a>

<a class="btn btn-default @nextDisabled"
   href="index?sortOrder=@ViewData["CurrentSort"]&currentFilter=@ViewData["CurrentFilter"]&pageNumber=@(Model.PageIndex + 1)"
   hx-trigger="click"
   hx-get="index?sortOrder=@ViewData["CurrentSort"]&currentFilter=@ViewData["CurrentFilter"]&pageNumber=@(Model.PageIndex + 1)"
   hx-target="#root"
   hx-swap="innerHTML"
   hx-push-url="index?sortOrder=@ViewData["CurrentSort"]&currentFilter=@ViewData["CurrentFilter"]&pageNumber=@(Model.PageIndex + 1)">
    Next
</a>